extends layout

block header
  title= pack.name

block content
  div(class='package-list')
    div(class='package-card')
      include package_listing
  div(class='package-fullpage-details')
    div(class='package-btn-links')
      a(class='package-btn-group' href=pack.repoLink)
        svg(class="icon")
          use(href="/public/feather-sprite.svg#book")
        span.
          GitHub
      if pack.bugLink
        a(class='package-btn-group' href=pack.bugLink)
          svg(class="icon")
            use(href="/public/feather-sprite.svg#alert-circle")
          span.
            Bug Reports
      div(class='package-btn-group')
        svg(class="icon")
          use(href="/public/feather-sprite.svg#tag")
        span.
          #{pack.version}
      div(class='package-btn-group')
        svg(class="icon")
          use(href="/public/feather-sprite.svg#flag")
        span.
          #{pack.license}
    div(class='package-readme')
      .
        !{pack.readme}
