div(class='package-body')
  div(class='package-title')
    a(href=`/packages/${pack.name}`) #{pack.name}
  div(class='package-description')
    p= pack.description
  div(class='package-keywords')
    each word in pack.keywords
      div(class='chip')
        p= word
div(class='package-meta')
  div(class='package-author')
    p= pack.author
  div(class='package-options')
    div(class='package-downloads box')
      svg(class="icon")
        use(href="/public/feather-sprite.svg#download")
      p= pack.downloads
    div(class='package-stars box')
      svg(class="icon")
        use(href="/public/feather-sprite.svg#star")
      p= pack.stars
    a(href=`${pack.install}`)
      div(class='package-install box')
        svg(class="icon")
          use(href="/public/feather-sprite.svg#download")
        p= "Install"
