<!DOCTYPE html>
<html>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap" rel="stylesheet">

<head>
   <title>HTML External CSS</title>
   <style>
    <%-stylesheet%>
  </style>
</head>


  <meta charset="utf-8">
  <title>Generated Image</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <body class="container">
    <div class="heading">
      <div class="title">
        <%=obj.name%>
      </div>
      <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   width="150"
   height="150"
   viewBox="0 0 290.2265 305.91398"
   version="1.1"
   id="svg5"
   inkscape:version="1.1.1 (3bf5ae0, 2021-09-20)"
   sodipodi:docname="pulsar_lol.svg"
   inkscape:export-filename="pulsar.png"
   inkscape:export-xdpi="41.916889"
   inkscape:export-ydpi="41.916889"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview7"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:document-units="mm"
     showgrid="true"
     units="px"
     inkscape:zoom="0.70710678"
     inkscape:cx="-31.819805"
     inkscape:cy="557.90725"
     inkscape:window-width="3440"
     inkscape:window-height="1375"
     inkscape:window-x="1920"
     inkscape:window-y="0"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1"
     showguides="false"
     inkscape:snap-global="false"
     fit-margin-top="0"
     fit-margin-left="0"
     fit-margin-right="0"
     fit-margin-bottom="0"
     inkscape:showpageshadow="2"
     inkscape:deskcolor="#d1d1d1">
    <inkscape:grid
       type="xygrid"
       id="grid824"
       originx="-92.48728"
       originy="19.572134" />
  </sodipodi:namedview>
  <defs
     id="defs2">
    <inkscape:path-effect
       effect="mirror_symmetry"
       start_point="215.98578,-25.718215"
       end_point="215.98578,268.76155"
       center_point="215.98578,121.52167"
       id="path-effect3242"
       is_visible="true"
       lpeversion="1.1"
       mode="vertical"
       discard_orig_path="false"
       fuse_paths="false"
       oposite_fuse="false"
       split_items="true"
       split_open="false" />
    <inkscape:path-effect
       effect="mirror_symmetry"
       start_point="233.70418,-13.036075"
       end_point="233.70418,288.82247"
       center_point="233.70418,137.8932"
       id="path-effect2831"
       is_visible="true"
       lpeversion="1.1"
       mode="vertical"
       discard_orig_path="false"
       fuse_paths="false"
       oposite_fuse="false"
       split_items="false"
       split_open="false" />
    <inkscape:path-effect
       effect="fillet_chamfer"
       id="path-effect19998"
       is_visible="true"
       lpeversion="1"
       satellites_param="F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1"
       unit="px"
       method="auto"
       mode="F"
       radius="5"
       chamfer_steps="1"
       flexible="false"
       use_knot_distance="true"
       apply_no_radius="true"
       apply_with_radius="true"
       only_selected="false"
       hide_knots="false"
       nodesatellites_param="F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1" />
    <inkscape:path-effect
       effect="pts2ellipse"
       id="path-effect10637"
       is_visible="true"
       lpeversion="1"
       method="auto"
       gen_arc="false"
       arc_other="false"
       slice_arc="false"
       gen_isometric_frame="false"
       draw_axes="false"
       gen_perspective_frame="false"
       draw_perspective_axes="false"
       rot_axes="0"
       draw_ori_path="false" />
    <inkscape:path-effect
       effect="clone_original"
       id="path-effect2420"
       is_visible="true"
       lpeversion="1"
       linkeditem=""
       method="d"
       attributes=""
       css_properties=""
       allow_transforms="true" />
    <inkscape:path-effect
       effect="fillet_chamfer"
       id="path-effect2414"
       is_visible="true"
       lpeversion="1"
       satellites_param="F,0,0,1,0,13.229167,0,1 @ F,0,0,1,0,13.229167,0,1 @ F,0,0,1,0,13.229167,0,1 @ F,0,0,1,0,13.229167,0,1"
       unit="px"
       method="auto"
       mode="F"
       radius="50"
       chamfer_steps="1"
       flexible="false"
       use_knot_distance="true"
       apply_no_radius="true"
       apply_with_radius="true"
       only_selected="false"
       hide_knots="false"
       nodesatellites_param="F,0,0,1,0,13.229167,0,1 @ F,0,0,1,0,13.229167,0,1 @ F,0,0,1,0,13.229167,0,1 @ F,0,0,1,0,13.229167,0,1" />
    <inkscape:path-effect
       effect="fillet_chamfer"
       id="path-effect2281"
       is_visible="true"
       lpeversion="1"
       satellites_param="F,0,0,1,0,13.229167,0,1 @ F,0,0,1,0,13.229167,0,1 @ F,0,0,1,0,13.229167,0,1 @ F,0,0,1,0,13.229167,0,1"
       unit="px"
       method="auto"
       mode="F"
       radius="50"
       chamfer_steps="1"
       flexible="false"
       use_knot_distance="true"
       apply_no_radius="true"
       apply_with_radius="true"
       only_selected="false"
       hide_knots="false"
       nodesatellites_param="F,0,0,1,0,13.229167,0,1 @ F,0,0,1,0,13.229167,0,1 @ F,0,0,1,0,13.229167,0,1 @ F,0,0,1,0,13.229167,0,1" />
    <inkscape:path-effect
       effect="fillet_chamfer"
       id="path-effect2253"
       is_visible="true"
       lpeversion="1"
       satellites_param="F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1"
       unit="px"
       method="auto"
       mode="F"
       radius="5"
       chamfer_steps="1"
       flexible="false"
       use_knot_distance="true"
       apply_no_radius="true"
       apply_with_radius="true"
       only_selected="false"
       hide_knots="false"
       nodesatellites_param="F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1 @ F,0,0,1,0,1.3229167,0,1" />
    <inkscape:path-effect
       effect="fillet_chamfer"
       id="path-effect2215"
       is_visible="true"
       lpeversion="1"
       satellites_param="F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14"
       unit="px"
       method="auto"
       mode="F"
       radius="41"
       chamfer_steps="13"
       flexible="false"
       use_knot_distance="true"
       apply_no_radius="true"
       apply_with_radius="true"
       only_selected="false"
       hide_knots="false"
       nodesatellites_param="F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14 @ F,0,0,1,0,10.847917,0,14" />
    <inkscape:path-effect
       effect="fillet_chamfer"
       id="path-effect2213"
       is_visible="true"
       lpeversion="1"
       satellites_param="F,0,0,1,0,13.229167,0,1 @ F,0,0,1,0,13.229167,0,1 @ F,0,0,1,0,17.455271,0,1 @ F,0,1,1,0,17.455271,0,1"
       unit="px"
       method="auto"
       mode="F"
       radius="50"
       chamfer_steps="1"
       flexible="false"
       use_knot_distance="true"
       apply_no_radius="true"
       apply_with_radius="true"
       only_selected="false"
       hide_knots="false"
       nodesatellites_param="F,0,0,1,0,13.229167,0,1 @ F,0,0,1,0,13.229167,0,1 @ F,0,0,1,0,17.455271,0,1 @ F,0,1,1,0,17.455271,0,1" />
    <inkscape:path-effect
       effect="fillet_chamfer"
       id="path-effect2191"
       is_visible="true"
       lpeversion="1"
       satellites_param="F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1"
       unit="px"
       method="auto"
       mode="F"
       radius="0"
       chamfer_steps="1"
       flexible="false"
       use_knot_distance="true"
       apply_no_radius="true"
       apply_with_radius="true"
       only_selected="false"
       hide_knots="false"
       nodesatellites_param="F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1 @ F,0,0,1,0,0,0,1" />
  </defs>
  <g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="Layer 2"
     style="display:inline"
     transform="translate(-92.487271,19.572134)">
    <path
       id="path848-7-6"
       style="fill:#00a9ff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 332.72111,281.76411 c 17.82611,-12.1868 33.22814,-27.58883 45.41494,-45.41494 4.12243,-6.03004 1.91434,-14.15575 -4.41307,-17.80889 l -70.22027,-40.5417 c -6.32741,-3.65314 -14.33999,-1.36023 -19.16582,4.10935 -1.82847,2.07237 -3.78465,4.02855 -5.85702,5.85702 -5.46958,4.82583 -7.76249,12.83841 -4.10935,19.16582 l 40.5417,70.22027 c 3.65314,6.32741 11.77885,8.5355 17.80889,4.41307 z"
       inkscape:path-effect="#path-effect2414"
       inkscape:original-d="m 321.52681,288.80783 a 173.9033,173.9033 0 0 0 63.65296,-63.65296 l -93.13385,-53.77088 a 66.361547,66.361547 0 0 1 -24.28999,24.28999 z"
       inkscape:transform-center-x="-92.710807"
       inkscape:transform-center-y="92.149839" />
  </g>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     style="display:inline"
     transform="translate(-92.487271,19.572134)">
    <path
       id="path848"
       style="fill:#111217;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 238.44914,11.842809 c -19.53735,0.222001 -38.70521,5.35805 -55.73603,14.934527 -0.63685,0.358094 -0.85327,1.16787 -0.48795,1.800616 l 17.92532,35.721163 c 0.36532,0.632746 -1.32755,7.770649 -1.95287,8.148489 -9.20303,5.560822 -21.30636,23.055988 -25.61908,13.206173 -1.18548,-2.707514 7.16802,2.777143 6.53528,2.411828 L 140.09803,70.705083 c -0.66753,-0.297031 -1.44252,-0.148895 -1.80062,0.487948 -9.57647,17.030812 -14.71252,36.198679 -14.93452,55.736029 -0.008,0.73058 -0.008,1.9152 -1.6e-4,2.64578 0.70418,63.2453 51.84111,114.38223 115.08641,115.08642 0.73058,0.008 1.9152,0.008 2.64578,0 63.24531,-0.70418 114.38224,-51.84111 115.08642,-115.08642 0.008,-0.73058 0.008,-1.9152 0,-2.64578 C 355.47715,63.683752 304.34021,12.546829 241.09492,11.842653 c -0.73058,-0.0081 -1.9152,-0.0081 -2.64578,1.56e-4 z"
       sodipodi:nodetypes="csccsscssccccccsc" />
    <path
       id="path848-7"
       style="fill:#00a9ff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 142.47993,-14.994407 c -17.82611,12.1867982 -33.22814,27.588832 -45.414932,45.414938 -4.12243,6.03004 -1.914342,14.155756 4.413072,17.808891 l 66.56034,38.428651 c 8.34873,4.820141 18.91526,1.714552 25.72072,-5.074129 6.7421,-6.725452 9.77848,-17.256197 4.95834,-25.604924 l -38.42865,-66.560357 c -3.65314,-6.327413 -11.77885,-8.5355 -17.80889,-4.41307 z"
       inkscape:path-effect="#path-effect2213"
       inkscape:original-d="M 153.67423,-22.038131 A 173.9033,173.9033 0 0 0 90.021275,41.614836 l 93.133845,53.770875 a 66.361547,66.361547 0 0 1 24.28999,-24.289984 z"
       inkscape:transform-center-x="91.840071"
       inkscape:transform-center-y="-91.84115" />
    <ellipse
       style="fill:none;fill-rule:evenodd;stroke:none;stroke-width:10.0906;stroke-opacity:1"
       id="path14792"
       cx="240.26506"
       cy="127.78428"
       rx="107.4653"
       ry="106.12314" />
    <path
       id="path18984"
       style="fill:#540072;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 269.19339,157.11277 C 207.8721,218.43406 145.35927,255.34268 129.56706,239.55048 113.77487,223.75826 179.29193,189.57268 240.61322,128.2514 301.9345,66.930121 335.83888,1.694253 351.6311,17.486458 367.4233,33.278662 330.51468,95.791491 269.19339,157.11277 Z"
       sodipodi:nodetypes="sssss" />
    <g
       id="g3240"
       transform="rotate(-45,210.80688,108.89934)">
      <path
         id="path958"
         style="fill:#ffffff;fill-rule:evenodd;stroke-width:20.022"
         d="M 190.06074,93.603119 A 20.867018,34.504776 0 0 1 169.19373,128.10789 20.867018,34.504776 0 0 1 148.32671,93.603119 20.867018,34.504776 0 0 1 169.19373,59.098343 20.867018,34.504776 0 0 1 190.06074,93.603119 Z" />
      <path
         id="path1634"
         style="fill-rule:evenodd;stroke-width:36.2106"
         d="M 179.40094,93.492546 A 10.14284,19.372704 0 0 1 169.2581,112.86525 10.14284,19.372704 0 0 1 159.11526,93.492546 10.14284,19.372704 0 0 1 169.2581,74.119843 10.14284,19.372704 0 0 1 179.40094,93.492546 Z" />
    </g>
    <path
       id="path2272"
       style="fill:#ffffff;fill-rule:evenodd;stroke-width:14.0922"
       d="m 162.81261,118.31754 a 3.4025781,3.4025781 0 0 1 0,4.81198 3.4025781,3.4025781 0 0 1 -4.81198,0 3.4025781,3.4025781 0 0 1 0,-4.81197 3.4025781,3.4025781 0 0 1 4.81198,-1e-5 z" />
    <g
       id="g3240-5"
       transform="rotate(-45,161.96462,-9.0643579)"
       style="display:inline">
      <path
         id="path958-3"
         style="fill:#ffffff;fill-rule:evenodd;stroke-width:20.022"
         d="M 190.06074,93.603119 A 20.867018,34.504776 0 0 1 169.19373,128.10789 20.867018,34.504776 0 0 1 148.32671,93.603119 20.867018,34.504776 0 0 1 169.19373,59.098343 20.867018,34.504776 0 0 1 190.06074,93.603119 Z" />
      <path
         id="path1634-5"
         style="fill-rule:evenodd;stroke-width:36.2106"
         d="M 179.40094,93.492546 A 10.14284,19.372704 0 0 1 169.2581,112.86525 10.14284,19.372704 0 0 1 159.11526,93.492546 10.14284,19.372704 0 0 1 169.2581,74.119843 10.14284,19.372704 0 0 1 179.40094,93.492546 Z" />
    </g>
    <path
       id="path2272-6"
       style="display:inline;fill:#ffffff;fill-rule:evenodd;stroke-width:14.0922"
       d="m 231.91997,49.230076 a 3.4025781,3.4025781 0 0 1 0,4.811977 3.4025781,3.4025781 0 0 1 -4.81198,-3e-6 3.4025781,3.4025781 0 0 1 0,-4.811965 3.4025781,3.4025781 0 0 1 4.81198,-9e-6 z" />
  </g>
</svg>
    </div>
    <div class="subtitle">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 496 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/></svg>
      <div class="link">
        <%=utils.getOwnerRepo(obj);%>
      </div>
      <div class="version">
        v<%=obj.metadata.version%>
      </div>
    </div>
    <div class="description">
      <%=obj.metadata.description%>
    </div>
    <div class="bottom-icons">
      <div class="downloads">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
        <%=obj.downloads%>
      </div>
      <div class="stars">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
        <%=obj.stargazers_count%>
      </div>
      <div class="license">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-flag"><path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path><line x1="4" y1="22" x2="4" y2="15"></line></svg>
        <%=obj.metadata.license%>
      </div>

      <svg class="pulsar-logo"
   width="180px"
   height="152px"
   viewBox="0 0 92.127914 76.305832"
   version="1.1"
   id="svg2885"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs2882" />
  <g
     transform="translate(60.726413,-64.484278)">
    <g
       id="g104"
       transform="matrix(0.26458333,0,0,0.26458333,220.6315,811.05906)">
      <path
         class="st0"
         d="m -894.5,-2745.8 c -13.4,0 -24.2,10.9 -24.2,24.2 0,13.3 10.9,24.2 24.2,24.2 13.4,0 24.2,-10.9 24.2,-24.2 0,-13.3 -10.8,-24.2 -24.2,-24.2 z"
         id="path74"
         style="fill:#662d91;fill-opacity:1" />
      <path
         class="st0"
         d="m -924.2,-2688.3 c 0.8,0.3 1.6,0.5 2.5,0.5 1.6,0 3.3,-0.6 4.5,-1.9 2.5,-2.5 2.5,-6.6 0,-9.1 -1.3,-1.3 -2.9,-1.9 -4.6,-1.9 -1.7,0 -3.3,0.6 -4.6,1.9 -1.9,1.9 -2.4,4.7 -1.4,7 l -13,5.1 -53.9,64.2 1.1,1.1 64.2,-53.9 z"
         id="path76"
         style="fill:#662d91;fill-opacity:1" />
      <path
         class="st0"
         d="m -934.1,-2662.8 c 5.6,4.8 11.4,9.1 17.4,13 2.2,-0.8 7,-2.8 9.1,-3.9 -7.5,-4.3 -13.3,-8.6 -20.2,-14.4 z"
         id="path78"
         style="fill:#662d91;fill-opacity:1" />
      <path
         class="st0"
         d="m -859.7,-2767.8 -5.1,13 c -0.8,-0.3 -1.6,-0.5 -2.5,-0.5 -1.6,0 -3.3,0.6 -4.5,1.9 -2.5,2.5 -2.5,6.6 0,9.1 1.3,1.3 2.9,1.9 4.6,1.9 1.6,0 3.3,-0.6 4.6,-1.9 1.9,-1.9 2.4,-4.7 1.4,-7 l 13,-5.1 53.9,-64.2 -1.1,-1.1 z"
         id="path80"
         style="fill:#662d91;fill-opacity:1" />
      <path
         class="st0"
         d="m -868,-2764.4 c -7.7,-4.8 -16.8,-7.6 -26.5,-7.6 -27.8,0 -50.5,22.6 -50.5,50.5 0,9.7 2.8,18.8 7.6,26.5 l 2.7,-1.1 c 0.4,-2.7 1.6,-5.3 3.7,-7.3 0.4,-0.4 0.9,-0.7 1.3,-1.1 -2.5,-5.2 -4,-10.9 -4,-17.1 0,-21.6 17.5,-39.1 39.1,-39.1 6.1,0 11.9,1.5 17.1,4 0.3,-0.5 0.7,-0.9 1.1,-1.3 2,-2 4.5,-3.3 7.3,-3.7 z"
         id="path82"
         style="fill:#662d91;fill-opacity:1" />
      <path
         class="st0"
         d="m -894.5,-2682.5 c -6.1,0 -11.9,-1.5 -17.1,-4 -0.3,0.5 -0.7,0.9 -1.1,1.3 -2,2 -4.5,3.3 -7.3,3.7 l -1.1,2.7 c 7.7,4.8 16.8,7.6 26.5,7.6 27.8,0 50.5,-22.6 50.5,-50.5 0,-9.7 -2.8,-18.8 -7.6,-26.5 l -2.7,1.1 c -0.4,2.7 -1.6,5.3 -3.7,7.3 -0.4,0.4 -0.9,0.7 -1.3,1.1 2.5,5.2 4,10.9 4,17.1 0,21.6 -17.5,39.1 -39.1,39.1 z"
         id="path84"
         style="fill:#662d91;fill-opacity:1" />
      <path
         class="st0"
         d="m -977.8,-2721.5 c -10.5,25.7 -11,51 0.1,68.6 l 5.5,-6.6 c -7.5,-13.7 -7.5,-32.2 -0.9,-51.8 5.2,10.1 11.9,20 19.8,29.3 l 5.3,-6.3 c -8.9,-10.6 -16,-21.9 -21.1,-33.3 6.7,-15 17,-30.2 30.7,-43.9 13.4,-13.4 28.5,-23.9 43.8,-30.7 11.3,5 22.6,12.1 33.4,21.1 l 6.3,-5.3 c -9.4,-8 -19.4,-14.6 -29.4,-19.8 3.3,-1.1 6.6,-2 9.9,-2.8 16.5,-3.7 31,-2.4 42,3.7 l 6.6,-5.6 c -13.1,-8.3 -30.6,-10.5 -50.4,-6.1 -6.1,1.4 -12.3,3.4 -18.5,5.9 -29.9,-12.2 -59.2,-10.8 -76.6,6.6 -13.5,13.5 -17.9,34.3 -12.5,58.5 1.4,6.2 3.4,12.4 6,18.5 z m 12.3,-71.1 c 13.8,-13.8 36.5,-15.8 60.7,-7.6 -13.8,7.1 -27.3,17 -39.3,29 -12.3,12.3 -22,25.7 -28.9,39.3 -1.1,-3.3 -2.1,-6.5 -2.8,-9.8 -4.9,-21.4 -1.2,-39.5 10.3,-50.9 z"
         id="path86"
         style="fill:#662d91;fill-opacity:1" />
      <path
         class="st0"
         d="m -841,-2754.9 c 9,10.8 16.1,22.1 21.1,33.4 l -0.2,0.3 c -6.9,15.4 -17.5,30.4 -30.6,43.5 -19.2,19.2 -41.9,32.5 -64,37.5 -16.5,3.7 -31,2.4 -42,-3.7 l -6.6,5.6 c 8.6,5.5 19.2,8.3 31.1,8.3 6.1,0 12.6,-0.7 19.4,-2.3 23.5,-5.3 47.7,-19.4 67.9,-39.7 11.9,-11.9 21.8,-25.4 29,-39.3 8.1,24.2 6.2,46.9 -7.6,60.7 -10.5,10.5 -26.8,14.4 -45.8,11.3 -3.6,2.2 -7.2,4.2 -10.8,6 8,2.1 15.7,3.2 23,3.2 15.9,0 29.6,-5 39.3,-14.7 25.3,-25.3 16.8,-75.6 -18,-116.4 z"
         id="path88"
         style="fill:#662d91;fill-opacity:1" />
      <path
         class="st0"
         d="m -816.8,-2783.7 c 4.6,8.5 6.4,19 5.4,30.8 2.4,3.8 4.6,7.6 6.5,11.4 4,-19.2 1.8,-36.1 -6.4,-48.9 z"
         id="path90"
         style="fill:#662d91;fill-opacity:1" />
      <path
         class="st0"
         d="m -1021.8,-2590.2 h -41.6 v 56.7 h 9.7 v -19.7 h 0.7 l 31.1,-0.1 c 3,0 5.5,-1.1 7.6,-3.2 2.1,-2.1 3.2,-4.6 3.2,-7.5 v -15.5 c 0,-2.9 -1.1,-5.5 -3.2,-7.5 -1.9,-2.1 -4.5,-3.2 -7.5,-3.2 z m 1,26.3 c 0,0.6 -0.4,1 -1,1 h -30.8 c -0.6,0 -1,-0.4 -1,-1 v -15.5 c 0,-0.6 0.4,-1 1,-1 h 30.8 c 0.6,0 1,0.4 1,1 z"
         id="path92"
         style="fill:#662d91;fill-opacity:1" />
      <path
         class="st0"
         d="m -961.1,-2544.1 c 0,0.7 -0.5,1 -0.9,1 h -31 c -0.6,0 -1,-0.4 -1,-1 v -46.1 h -9.7 v 46.1 c 0,3 1,5.5 3.1,7.6 2.1,2.1 4.6,3.1 7.6,3.1 h 30.9 c 2.9,0 5.5,-1.1 7.5,-3.1 2.1,-2.1 3.2,-4.6 3.2,-7.6 v -46.1 h -9.8 v 46.1 z"
         id="path94"
         style="fill:#662d91;fill-opacity:1" />
      <polygon
         class="st0"
         points="-941.6,-2533.4 -895.5,-2533.4 -895.5,-2543.1 -931.9,-2543.1 -931.9,-2590.3 -941.6,-2590.3 "
         id="polygon96"
         style="fill:#662d91;fill-opacity:1" />
      <path
         class="st0"
         d="m -849.2,-2590.2 h -30.9 c -3,0 -5.5,1.1 -7.6,3.1 -2.1,2.1 -3.1,4.6 -3.1,7.6 v 11.9 c 0,3 1,5.5 3.1,7.6 2.1,2.1 4.6,3.1 7.6,3.1 h 30.9 c 0.4,0 0.9,0.3 0.9,1 v 11.9 c 0,0.7 -0.5,1 -0.9,1 h -30.9 c -0.6,0 -1,-0.4 -1,-1 v -4 h -9.7 v 4 c 0,3 1,5.5 3.1,7.6 2.1,2.1 4.6,3.1 7.6,3.1 h 30.9 c 2.9,0 5.5,-1.1 7.5,-3.1 2.1,-2.1 3.2,-4.6 3.2,-7.6 v -11.9 c 0,-3 -1.1,-5.5 -3.2,-7.6 -2.1,-2.1 -4.6,-3.1 -7.5,-3.1 h -30.9 c -0.6,0 -1,-0.4 -1,-1 v -11.9 c 0,-0.6 0.4,-1 1,-1 h 30.9 c 0.4,0 0.9,0.3 0.9,1 v 4 h 9.8 v -4 c 0,-3 -1.1,-5.5 -3.2,-7.6 -2.1,-2.1 -4.6,-3.1 -7.5,-3.1 z"
         id="path98"
         style="fill:#662d91;fill-opacity:1" />
      <path
         class="st0"
         d="m -787.4,-2590.2 h -30.8 c -3,0 -5.5,1.1 -7.6,3.1 -2.1,2.1 -3.1,4.6 -3.1,7.6 v 46.1 h 9.7 v -19.4 h 32.8 v 19.4 h 9.8 v -46.1 c 0,-3 -1.1,-5.5 -3.2,-7.6 -2,-2.1 -4.6,-3.1 -7.6,-3.1 z m 1,27.7 h -32.8 v -17 c 0,-0.6 0.4,-1 1,-1 h 30.8 c 0.6,0 1,0.4 1,1 z"
         id="path100"
         style="fill:#662d91;fill-opacity:1" />
      <path
         class="st0"
         d="m -718.4,-2556.4 c 2.1,-2.1 3.2,-4.6 3.2,-7.5 v -15.5 c 0,-2.9 -1.1,-5.5 -3.2,-7.5 -2.1,-2.1 -4.7,-3.2 -7.6,-3.2 h -41.5 v 56.7 h 9.7 v -19.8 h 15 l 0.1,0.2 16.5,19.6 h 10.9 v -2.1 l -14.8,-17.6 h 4 c 3,-0.1 5.6,-1.2 7.7,-3.3 z m -38.5,-6.5 c -0.6,0 -1,-0.4 -1,-1 v -15.5 c 0,-0.6 0.4,-1 1,-1 h 30.8 c 0.6,0 1,0.4 1,1 v 15.5 c 0,0.6 -0.4,1 -1,1 z"
         id="path102"
         style="fill:#662d91;fill-opacity:1" />
    </g>
  </g>
</svg>

    </div>
  </body>
</html>
