<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title><%=page.name%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="<%=page.name%>">
    <meta property="og:url" content="<%=page.og_url%>">
    <meta property="og:site_name" content="Pulsar Package Repository">
    <meta property="og:description" content="<%=page.og_description%>">
    <meta property="og:image" content="<%=page.og_image%>">
    <meta property="og:image:type" content="<%=page.og_image_type%>">
    <% if (page.og_image_type !== "image/svg+xml") { %>
    <meta property="og:image:width" content="<%=page.og_image_width%>">
    <meta property="og:image:height" content="<%=page.og_image_height%>">
    <meta property="og:type" content="object">
    <meta name="twitter:card" content="summary_large_image">
    <% } %>
    <meta name="twitter:image:src" content="<%=page.og_image%>">
    <meta name="twitter:title" content="<%=page.name%>">
    <meta name="twitter:description" content="<%=page.og_description%>">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="<%=page.og_description%>">
    <meta charset="UTF-8">
    <meta name="application-name" content="ExpressJS">
    <link rel="alternate" href="https://web.pulsar-edit.dev/" hreflang="x-default">
    <link rel="alternate" href="https://web.pulsar-edit.dev/" hreflang="en">
    <link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="apple-touch-icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="apple-touch-icon-precomposed" type="image/svg+xml" href="/favicon.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="color-scheme" content="dark light">
    <% if (dev) { %>
      <link rel="stylesheet" href="/public/site.css" />
    <% } else { %>
      <link rel="stylesheet" href="/public/site.min.css" />
    <% } %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <!-- Set our Default Syntax Theme during page load so first time visitors don't have to wait for JS to execute -->
    <link rel="stylesheet" class="codestyle" id="syntax-theme" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/atom-one-light.min.css">
  </head>
  <body class="bg-canvas flex flex-col min-h-screen text-text">
    <% if (timecop) { %>
      <script>
        let timetable = <%- JSON.stringify(timecop) %>;
      </script>
    <% } %>
    <header class="bg-accent p-3 flex items-center gap-6 mb-12">
      <a href="/" class="hover:opacity-80">
        <img src="/public/logo-name-navbar-dark.svg" class="h-10" />
      </a>
      <nav class="fixed flex-col p-24 shadow-right md:static md:p-0 md:flex-row md:shadow-none md:h-auto flex z-10 h-screen top-0 -left-96 bg-accent gap-6 transition-all md:w-full">
        <i onclick="toggleNavBtn()" class="md:!hidden fas fa-times absolute top-5 right-5 text-white text-2xl cursor-pointer"></i>
        <a class="<% if (page.og_url === 'https://web.pulsar-edit.dev/') { %> text-primary <% } %>" href="/">Featured</a>
        <a class="<% if (page.og_url === 'https://web.pulsar-edit.dev/packages') { %> text-primary <% } %>" href="/packages">Packages</a>
        <a class="<% if (page.og_url === 'https://web.pulsar-edit.dev/login') { %> text-primary <% } %>" href="/login">Sign In</a>
        <a href="https://pulsar-edit.dev" target="_blank">
          <i class="fas fa-arrow-up-right-from-square"></i>
          Website
        </a>
        <div class="relative flex-1 text-right">
          <button class="change-theme">Change Theme <i class="fas fa-caret-down ml-2"></i></button>
          <div class="hidden absolute bg-accent text-left md:text-right md:mt-8 p-3 min-w-[200px] md:right-0" id="dropdown-list">
            <button data-theme-name="original-theme">Atom.io (Default)</button>
            <button data-theme-name="github-dark">GitHub Dark</button>
            <button data-theme-name="dracula">Dracula</button>
            <button data-theme-name="one-dark">One Dark</button>
          </div>
        </div>

      </nav>
      <i onclick="toggleNavBtn()" class="md:!hidden fas fa-bars text-white opacity-80 text-2xl hover:opacity-100 cursor-pointer"></i>
    </header>
