<div class="w-full border border-secondary rounded p-3">
  <a href="/packages/<%=pack.name%>" class="text-3xl text-primary"><%=pack.name%></a>

  <% for (const badge of pack.badges) { %>

    <% if (typeof badge.link === "string") { %>
      <a href="<%=badge.link%>">
    <% } %>

    <% if (badge.type === "warn") { %>
      <span class="badge badge-warn">
        <i class="fas fa-triangle-exclamation"></i>
        <% if (typeof badge.text === "string") { %>
          <%=badge.title%>: <span class="badge-expandable">...</span><span class="badge-text"> <%=badge.text%></span>
        <% } else { %>
          <%=badge.title%>
        <% } %>
      </span>
    <% } else if (badge.type === "success") { %>
      <span class="badge badge-success">
        <i class="fas fa-circle-check"></i>
        <% if (typeof badge.text === "string") { %>
          <%=badge.title%>: <span class="badge-expandable">...</span><span class="badge-text"> <%=badge.text%></span>
        <% } else { %>
          <%=badge.title%>
        <% } %>
      </span>
    <% } else if (badge.type === "info") { %>
      <span class="badge badge-info">
        <i class="fas fa-circle-info"></i>
        <% if (typeof badge.text === "string") { %>
          <%=badge.title%>: <span class="badge-expandable">...</span><span class="badge-text"> <%=badge.text%></span>
        <% } else { %>
          <%=badge.title%>
        <% } %>
      </span>
    <% } else { %>
      <span class="badge">
        <% if (typeof badge.text === "string") { %>
          <%=badge.title%>: <span class="badge-expandable">...</span><span class="badge-text"> <%=badge.text%></span>
        <% } else { %>
          <%=badge.title%>
        <% } %>
      </span>
    <% } %>

    <% if (typeof badge.link === "string") { %>
      </a>
    <% } %>

  <% } %>

  <p class="text-sm opacity-70 min-h-[80px] py-3"><%=pack.description%></p>
  <div class="md:flex sm:flex-col md:flex-row gap-3">
    <div class="md:flex items-center justify-between bg-secondary p-3 rounded flex-1">
      <p class="flex items-center">
        <i class="fas fa-user mr-2"></i>
        <span class="opacity-40 truncate inline-block max-w-[150px]"><%=pack.author%></span>
      </p>
      <p class="flex items-center">
        <i class="fas fa-download mr-2"></i>
        <span class="opacity-40"><%=pack.downloads%></span>
      </p>
      <p class="flex items-center">
        <i class="fas fa-star mr-2"></i>
        <span class="opacity-40"><%=pack.stars%></span>
      </p>
      <% if (verbose && pack.bugLink) { %>
        <p>
          <i class="fas fa-bug mr-2"></i>
          <a href="<%=pack.bugLink%>" target="_blank" class="text-primary">Bug Reports</a>
        </p>
      <% } %>
      <% if (verbose) { %>
      <p>
        <i class="fas fa-tag mr-2"></i>
        <span class="opacity-40"><%=pack.version%></span>
      </p>
      <% } %>
      <% if (verbose) { %>
      <p class="flex items-center">
        <i class="fas fa-flag mr-2"></i>
        <span class="opacity-40"><%=pack.license%></span>
      </p>
      <% } %>
      <% if (verbose) { %>
        <p class="flex items-center">
          <i class="fas fa-book mr-2"></i>
          <a href="<%=pack.repoLink%>" target="_blank" class="text-primary">GitHub</a>
        </p>
      <% } %>
    </div>
    <% if (typeof pack.share === "object") { %>
    <div class="md:inline-block hidden sm:flex items-center justify-center mt-2 md:mt-0">
    <!--<div class="inline-block items-center justify-center mt-2 md:mt-0">-->
      <button class="share-button" class="w-full md:w-auto">
        <i class="fa-solid fa-share-from-square"></i>
        <span>Share</span>
        <i class="fas fa-caret-down ml-2"></i>
      </button>
      <div class="absolute hidden border border-secondary bg-accent mt-3" id="share-dropdown-list">

        <div class="flex p-2">
          <button class="mr-2" style="white-space: nowrap;" id="sharePackageLink"
            onclick="copyToClipboardAgnostic('<%=pack.share.pageLink%>', 'sharePackageLink')">
            <i class="fas fa-clipboard mr-2"></i>
            <span>Package Link</span>
          </button>
          <input type="text" disabled value="<%=pack.share.pageLink%>" class="bg-secondary wide"/>
        </div>

        <div class="flex p-2">
          <button class="mr-2" style="white-space: nowrap;" id="shareMDLink"
            onclick="copyToClipboardAgnostic('<%=pack.share.mdLink.default%>', 'shareMDLink')">
            <i class="fas fa-clipboard mr-2"></i>
            <span>MarkDown Link</span>
          </button>
          <input type="text" disabled value="<%=pack.share.mdLink.default%>" class="bg-secondary wide"/>
        </div>

        <div class="flex p-2">
          <button class="mr-2" style="white-space: nowrap;" id="shareMDLinkIconic"
            onclick="copyToClipboardAgnostic('<%=pack.share.mdLink.iconic%>', 'shareMDLinkIconic')">
            <i class="fas fa-clipboard mr-2"></i>
            <span>Iconic MarkDown Link</span>
          </button>
          <input type="text" disabled value="<%=pack.share.mdLink.iconic%>" class="bg-secondary wide"/>
        </div>

      </div>
    </div>
    <% } %>
    <% if (!pack.is_bundled) { %>
      <a href="<%=pack.install%>" class="hidden sm:flex items-center justify-center mt-3 md:mt-0">
        <button class="w-full md:w-auto">
          <i class="fas fa-download mr-2"></i>
          <span>Install</span>
        </button>
      </a>
    <% } %>
  </div>
</div>
