<% if (locals.pagination && locals.pagination.length > 1) { %>
    <div id="pagination" class="sm:flex-row flex-col flex items-center justify-between gap-3 border border-secondary rounded p-3">
        <p class="opacity-70">Showing <%- pagination.from %> to <%- pagination.to %> of <%- pagination.total %> entries</p>
        <div class="flex items-center gap-1 sm:gap-3 lg:gap-6">
            <a href="<%- pagination.routes.first %>" class="<%- !!pagination.routes.first ? '' : 'disabled' %>">
                <i class="fas fa-chevron-left -mr-1"></i>
                <i class="fas fa-chevron-left"></i>
            </a>

            <a href="<%- pagination.routes.prev %>" class="<%- !!pagination.routes.prev ? '' : 'disabled' %>">
                <i class="fas fa-chevron-left"></i>
            </a>

            <% pagination.options.forEach(option => { %>
                <a href="<%- option.value %>" class="<%= option.label == pagination.page ? 'active' : '' %>"><%= option.label %></a>
            <% }); %>

            <a href="<%- pagination.routes.next %>" class="<%- !!pagination.routes.next ? '' : 'disabled' %>">
                <i class="fas fa-chevron-right"></i>
            </a>

            <a href="<%- pagination.routes.last %>" class="<%- !!pagination.routes.last ? '' : 'disabled' %>">
                <i class="fas fa-chevron-right -mr-1"></i>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
<% } else { %>
  <div class="text-center">
    <h4>No packages found matching these parameters.</h4>
  </div>
<% } %>
