<div class="text-center">
  <h1>Packages make Pulsar do amazing things.</h1>
  <form id="search-bar" class="my-12" action="/packages/search">
    <input class="wide" type="search" value="<% if (locals.search) { %><%- search %><% } %>" name="q" placeholder="Search Packages..." />
    <input class="hidden" type="text" value="<% if (locals.sort) { %><%- sort %><% } else { %><%- "relevance" %><% } %>" name="sort" />
    <input class="hidden" type="text" value="<% if (locals.direction) { %><%- direction %><% } else { %><%- "desc" %><% } %>" name="direction" />
    <button type="submit">
      <i class="fas fa-magnifying-glass"></i>
      Search
    </button>
  </form>
</div>
