<div class="package-body">
  <div class="package-title">
    <a href="/packages/<%=pack.name%>"><%=pack.name%></a>
  </div>
  <div class="package-description">
    <p><%=pack.description%></p>
  </div>
  <div class="package-keywords">

  </div>
</div>
<div class="package-meta">
  <div class="package-author">
    <p><%=pack.author%></p>
  </div>
  <div class="package-options">
    <div class="package-downloads box">
      <svg class="icon">
        <use href="/public/feather-sprite.svg#download" />
      </svg>
      <p><%=pack.downloads%></p>
    </div>
    <div class="package-stars box">
      <svg class="icon">
        <use href="/public/feather-sprite.svg#star" />
      </svg>
      <p><%=pack.stars%></p>
    </div>
    <a href="<%=pack.install%>">
      <div class="package-install box">
        <svg class="icon">
          <use href="/public/feather-sprite.svg#download" />
        </svg>
        <p>Install</p>
      </div>
    </a>
  </div>
</div>
