<%- include('layout', { name: pack.name}); %>

<div class="package-list">
  <div class="package-card">
    <%- include('package_listing'); %>
  </div>
</div>
<div class="package-fullpage-details">
  <div class="package-btn-links">
    <a class="package-btn-group" href="<%=pack.repoLink%>">

      <span>GitHub</span>
    </a>
    <% if (pack.bugLink) { %>
      <a class="package-btn-group" href="<%=pack.bugLink%>">

        <span>Bug Reports</span>
      </a>
    <% } %>
    <div class="package-btn-group">

      <span><%=pack.license%></span>
    </div>
  </div>
  <div class="package-readme">
    <%-pack.readme%>
  </div>
</div>

<%- include('footer'); %>
