<div>
  <a href="/packages/<%=pack.name%>" class="text-3xl text-primary"><%=pack.name%></a>
  <p class="text-sm text-gray-600 min-h-[80px] py-3"><%=pack.description%></p>
  <div class="flex gap-3">
    <div class="flex justify-between bg-secondary p-3 rounded flex-1">
      <p>
        <i class="fas fa-user"></i>
        <span class="opacity-40"><%=pack.author%></span>
      </p>
      <p>
        <i class="fas fa-download"></i>
        <span class="opacity-40"><%=pack.downloads%></span>
      </p>
      <p>
        <i class="fas fa-star"></i>
        <span class="opacity-40"><%=pack.stars%></span>
      </p>
    </div>
    <a href="<%=pack.install%>" class="flex items-center justify-center text-white bg-primary p-3 rounded">
      <i class="fas fa-download mr-2"></i>
      <span>Install</span>
    </a>
  </div>
</div>
