<%- include("header") %>
<body class="layout--home">
  <%- include("page_header") %>
  <div class="content">
    <%- include("advanced_search_sidebar") %>
    <main class="container">
      <%- include("search_bar") %>
      <%- include("pagination") %>
      <%- include("package_grid", { packages: packages }) %>
      <%- include("pagination") %>
      <%- include("pagination") %>
    </main>
  </div>
  <%- include("page_footer") %>
</body>
<%- include("footer") %>
