<%- include("header") %>
<body class="layout--home">
  <%- include("page_header") %>
  <div class="content">
    <%- include("advanced_search_sidebar") %>
    <main class="container">
      <%- include("search_bar") %>
      <button
        class="icon icon-jump-right"
        title="Expand Advanced Search"
        aria-label="Expand Advanced Search"
        id="advanced-search-control"
        data-enabled="false"
      ></button>
      <%- include("pagination") %>
      <%- include("package_grid", { packages: packages }) %>
      <%- include("pagination") %>
    </main>
  </div>
  <%- include("page_footer") %>
</body>
<%- include("footer") %>
